/* background color pale pink - #ffe6ef */

head {
    background: #ffe6ef;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", "SF Pro Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav.navigation {
    position: relative;
    text-align: right;
    border-radius: 40vh 40vh 0vh 0vh;
    background: linear-gradient(#cad4f4, #ffffff);
    padding: 5vh;
    /* overflow: hidden; */
}
nav.navigation .link {
    /* border: solid black;
    border-radius: 40vh; */
    display: inline-block;
    width: fit-content;
    padding: 1vh;
    color: black;
}

nav.navigation img {
    height: 10vh; /* Explicitly set the height */
    width: auto; /* Maintain aspect ratio */
    position: absolute;
    top: 0;
    left: 0;
}

main {
    width: 55vw;
    max-width: 850px;
    flex: 1;
    margin: 0 auto;
}

article {
    line-height: 2.0em;
    width: 100%;
}


.AndrewTableOfContentsWithDirectories {
  display: flex;
  flex-wrap: wrap;
  gap: 2%; /* Adjust the gap between columns */
}

.AndrewTableOfContents {
  margin-right: 25%;
  margin-left: 25%;
  white-space: nowrap;
}


.AndrewParentDir {
  /* color: #A9A9A9; Light grey color */
  font-weight: lighter; /* Optional: make the text even lighter */
}


  #AndrewTableOfContentsLink0 {
    font-weight: bold;
  }

  .AndrewTableOfContentsLink {
    line-height: 2.0em;
  }

  footer {
    width: 70%; /* Align with the main content width */
    margin: 2rem auto 0 auto; /* Center the footer horizontally and add some space at the top */
    
    position: relative;
    
    font-size: 0.7em;
    text-align: center; /* Ensure content inside the footer is centered */
}

pre, code {
  line-height: 1em; /* or any value that matches your intended line spacing */
  font-size: 1em; /* Ensures font size is consistent */
}

side-by-side > div {
  flex: 1 1 calc(50% - 20px); /* Calculate width considering padding/margins */
  box-sizing: border-box;
  padding: 10px;
  min-width: 0; /* Allows divs to shrink */
}

.side-by-side {
   display: flex;
   width: 95%; /* Ensure the side-by-side container takes full width */
   gap: 10px; /* Add space between the two columns */
 }

.side-by-side pre, 
.side-by-side code {
  font-size: 1em; /* Base font size */
  overflow: auto;
  white-space: pre-wrap; /* Ensures code wraps if necessary */
  word-wrap: break-word; /* Break long words if necessary */
}

/* Responsive font size and scaling */
@media (max-width: 768px) {
  .side-by-side pre, 
  .side-by-side code {
      font-size: 0.9em;
      transform: scale(0.9);
      transform-origin: top left;
  }
}

@media (max-width: 600px) {
  .side-by-side pre, 
  .side-by-side code {
      font-size: 0.8em;
      transform: scale(0.8);
      transform-origin: top left;
  }
}

@media (max-width: 480px) {
  .side-by-side pre, 
  .side-by-side code {
      font-size: 0.7em;
      transform: scale(0.7);
      transform-origin: top left;
  }
}