/* background color pale pink - #ffe6ef */

head {
    background: #ffe6ef;
}
nav.navigation {
    position: relative;
    text-align: right;
    border-radius: 40vh 40vh 0vh 0vh;
    background: linear-gradient(#cad4f4, #ffffff);
    padding: 5vh;
    /* overflow: hidden; */
}
nav.navigation .link {
    /* border: solid black;
    border-radius: 40vh; */
    display: inline-block;
    width: fit-content;
    padding: 1vh;
    color: black;
}

nav.navigation img {
    height: 10vh; /* Explicitly set the height */
    width: auto; /* Maintain aspect ratio */
    position: absolute;
    top: 0;
    left: 0;
}

a.andrewIndexBodyLink {
    display: block;
}

main {
    width: 65vw;
    flex: 1;
    margin-right: 15%;
    margin-left: 15%;
}

article {
    line-height: 1.5em;
    width: inherit;
    /* flex: 1; */
}

footer {
    margin-right: 10%;
    margin-left: 10%;
    
    position: fixed;
    bottom: 0;
  
    /* And if you want the div to be full-width: */
    left: 0;
    right: 0;

    font-size: 0.8em
  }