body {
    background-color: rgba(246, 227, 237, 0.8)
}

#header {
    border: solid black;
    width: fit-content;
    padding: 1em
}

#header .link {

    border: solid black;
    display: inline-block;
    width: fit-content;
    padding: 2em
}

a.andrewIndexBodyLink {
    display: block;
}