body {
    background-color: rgba(246, 227, 237, 0.8)
}

nav.navigation {
    text-align: right
}
nav.navigation .link {
    border: solid black;
    display: inline-block;
    width: fit-content;
    padding: 1em;
}

a.andrewIndexBodyLink {
    display: block;
}