name: Docker Image CI

on:
  push:
    paths: 
      - Dockerfile
      - 'content/**'
      - .github/workflows/publish_website_docker_image.yaml
  workflow_dispatch:

jobs:
  build:
    env:
      DOCKERIMAGE: docker.io/playtechnique/website:${{ github.run_number }}
      LATESTDOCKERIMAGE: docker.io/playtechnique/website:latest
    runs-on: ubuntu-latest
    outputs:
      dockerimage: ${{ steps.set-docker-image.outputs.dockerimage }}

    steps:
      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PAT }}

      - name: Build and Publish the Docker image
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: ${{ env.DOCKERIMAGE }}

      - name: Build and Publish the latest Docker image
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: ${{ env.LATESTDOCKERIMAGE }}

  release-to-production:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Generate auth token from PT Workflow Runner app
        uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.PLAYTECHNIQUE_WORKFLOW_RUNNER_GITHUB_APP_ID }}
          private-key: ${{ secrets.PLAYTECHNIQUE_WORKFLOW_RUNNER_GITHUB_APP }}
          owner: PlayTechnique
          repositories: ansible

      - name: Release PlayTechnique
        run: |
          gh workflow run --repo PlayTechnique/ansible release-playtechnique.yaml
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}


